* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-box {
    width: 400px;
    height: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #8080805d;;
  }
  
  h1 {
    text-align: center;
    padding-bottom: 10px;

  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
   
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  
  input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #5a5a5a;
    outline: none;
    margin-bottom: 30px;
    font-size: 18px;
  }
  
  button {
    padding: 15px 0px;
    background-color: #1E87F0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #145ba1;
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 20px;
    }
  
    .login-box {
      width: 100%;
    }
  }
  